<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC3FwQvER1wSJAV_uOSzlwcTEM5JwNhAZE</string>
	<key>GCM_SENDER_ID</key>
	<string>723796948547</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eatwiseCalorieTracker</string>
	<key>PROJECT_ID</key>
	<string>eat-wise-bae06</string>
	<key>STORAGE_BUCKET</key>
	<string>eat-wise-bae06.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:723796948547:ios:26599808d84a02dbaf06f6</string>
</dict>
</plist>